<div style="display: flex">
	<md-sidenav
	class="md-sidenav-left d-inline-block"
	md-component-id="left"
	md-is-locked-open="$mdMedia('gt-md')"
	md-whiteframe="4">
	<md-toolbar class="md-theme-indigo">
	<h1 class="md-toolbar-tools blue">Ingresa los Datos </h1>
	</md-toolbar>
	<md-content layout-padding ng-controller="LeftCtrl">
	<label>Longitud 1</label>
	<input type="number" class="form-control" ng-model="$ctrl.l1" placeholder="Longitud 1" name="L1">
	<label>Longitud 2</label>
	<input type="number" class="form-control" ng-model="$ctrl.l2" placeholder="Longitud 2" name="L2">
	<label>Longitud 3</label>
	<input type="number" class="form-control" ng-model="$ctrl.l3" placeholder="Longitud 3" name="L3">
	<label>Altura 1</label>
	<input type="number" class="form-control" ng-model="$ctrl.h1" placeholder="Altura 1" name="H1">
	<label>Altura 2</label>
	<input type="number" class="form-control" ng-model="$ctrl.h2" placeholder="Altura 2" name="H2">
	<label>Altura 3</label>
	<input type="number" class="form-control" ng-model="$ctrl.h3" placeholder="Altura 3" name="H3">
	<label>Carga Distribuida (q)</label>
	<input type="number" class="form-control" placeholder="Carga Distribuida" name="q">
	<label>Carga Puntual (p)</label>
	<input type="number" class="form-control" placeholder="Carga Puntual" name="p">
	</md-content>
	</md-sidenav>
	<div>
		<div>
			<div>
				<div ng-show="$ctrl.totalTramos == 1" class="row container-funciones">
					<img class='d-inline-block tramo' src="{{$ctrl.imgTramo1}}">
				</div>
				<div ng-show="$ctrl.totalTramos == 2" class="row container-funciones">
					<img class='d-inline-block tramo' src="{{$ctrl.imgTramo1}}">
					<img class='d-inline-block col-4 flip tramo segundaGraph' src="{{$ctrl.imgTramo2}}">
				</div>
				<div ng-show="$ctrl.totalTramos == 3" class="row container-funciones">
					<img class='d-inline-block tramo' src="{{$ctrl.imgTramo1}}">
					<img class='d-inline-block col-4 flip tramo segundaGraph' src="{{$ctrl.imgTramo2}}">
					<img class='d-inline-block col-4 tramo ultimaGraph' src="{{$ctrl.imgTramo3}}">
				</div>
				<md-radio-group ng-model="$ctrl.totalTramos" aria-label="Green">
					<label>Total de tramos</label>
					<md-radio-button ng-value="1" aria-label="Green">
					  1 Tramo
					</md-radio-button>
					<md-radio-button ng-value="2" aria-label="Green">
					  2 Tramos
					</md-radio-button>
					<md-radio-button ng-value="3" aria-label="Green">
					  3 Tramos
					</md-radio-button>
				</md-radio-group>
				<div>
					<div>
						<md-radio-group ng-model="$ctrl.imgTramo1" aria-label="Green">
							<label>Tramo 1</label>
							<md-radio-button ng-value="'/app/parabola.png'" aria-label="Green">
							  Ecuación Cuadrática
							</md-radio-button>
							<md-radio-button ng-value="'/app/recta.png'" aria-label="Green">
							  Ecuación de primer grado
							</md-radio-button>
						</md-radio-group>
					</div>
					<div">
						<md-radio-group ng-show="$ctrl.totalTramos > 1"  ng-model="$ctrl.imgTramo2" aria-label="Green">
							<label>Tramo 2</label>
							<md-radio-button ng-value="'/app/parabola.png'" aria-label="Green">
							  Ecuación Cuadrática
							</md-radio-button>
							<md-radio-button ng-value="'/app/recta.png'" aria-label="Green">
							  Ecuación de primer grado
							</md-radio-button>
						</md-radio-group>
					</div>
					<div>
						<md-radio-group ng-show="$ctrl.totalTramos > 2" ng-model="$ctrl.imgTramo3" aria-label="Green">
							<label>Tramo 3</label>
							<md-radio-button ng-value="'/app/parabola.png'" aria-label="Green">
							  Ecuación Cuadrática
							</md-radio-button>
							<md-radio-button ng-value="'/app/recta.png'" aria-label="Green">
							  Ecuación de primer grado
							</md-radio-button>
						</md-radio-group>
					</div>
				</div>
				<div class="card">
				<h3 class="text-center mt-3">Resultados</h3>
				<ul class="list-group">
					<li class="list-group-item"><strong>Ф1: {{$ctrl.totalPhi1()}}</strong></li>
					<li class="list-group-item"><strong>Ф2: {{$ctrl.totalPhi2()}}</strong></li>
					<li class="list-group-item"><strong>Ф3: {{$ctrl.totalPhi3()}}</strong></li>
					<li class="list-group-item"><strong>Ф4: {{$ctrl.totalPhi4()}}</strong></li>
					<li class="list-group-item"><strong>Ci: {{$ctrl.ci()}}</strong></li>
					<li class="list-group-item"><strong>C: {{$ctrl.c()}}</strong></li>
					<li class="list-group-item"><strong>Cj: {{$ctrl.cj()}}</strong></li>
					<li class="list-group-item"><strong>Ca: {{$ctrl.ca()}}</strong></li>
				</ul>
			</div>
			<h5 class="mt-5">Colaboradores</h5>
				<md-divider></md-divider>
			<div class="row" layout="row">
				<div class="text-center bluhigh text-white p-4 shadow col-lg-3">Cesar Rodriguez <br> Programación </div>
				<div class="text-center blulow text-white p-4 shadow col-lg-3" >Jose Luis Saenz <br> Cálculos</div>
				<div class="text-center bluhigh text-white p-4 shadow col-lg-3" >Reiner Nievez <br> Cálculos</div>
				<div class="text-center blulow text-white p-4 shadow col-lg-3" >Yaneth Cardoza <br> Cálculos</div>
				</div>
			
			</div>
		</div>
	</div>
	<footer class="text-center footer blue">El codigo fuente ha sido <a href="https://github.com/cesarodriguez4/estructuras">compartido</a> como software libre bajo la licencia MIT. | Universidad de Carabobo. </footer>