body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff1451 !important;
}

.footer {
  padding: 1%;
  color: white;
}

.blue {
  background-color: #2196f3 !important;
}


.container-funciones {
  background-image: url('https://img00.deviantart.net/c500/i/2014/154/1/a/quadanium_steel_wallpaper_by_grungetv-d5mmz3e.jpg');
  background-color: #949494;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.flip {
  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin-left: -3%;
}

.col-4 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 600px) {
  .tramo {
    height: 100px;
  }
  .segundaGraph {
  margin-left: -5% !important;
  }
}

.segundaGraph {
  margin-left: -2%;
}

.ultimaGraph {
  margin-left: -3%;
}

.grey {
  color: #e6e6e6;
  vertical-align: middle;
}

.uc {
  width: 40px;
  margin-right: 10px;
}

.bluhigh {
  background-color: #9797c3;
}

.blulow {
  background-color: #bfc9de;
}


.shadow {
  text-shadow: 1px 1px 3px black;
}